VITE_API_URL=http://localhost:4000/api
VITE_SUPABASE_URL=https://[PROJECT_REF].supabase.co
VITE_SUPABASE_ANON_KEY=[ANON_KEY]
VITE_ADMIN_EMAILS=fortalezaconstruccionesrosario@gmail.com,materialezfzacecommerce@gmail.com,dylansalcedo333@gmail.com
VITE_ADMIN_EMAIL=fortalezaconstruccionesrosario@gmail.com
